body {
    padding: 2%;
    font-family: sans-serif;
    margin: 0px;
    background: #303838;
    color: #B8B8B8;
}


h1, h2 {
    color: #10A090;
    text-decoration: underline overline;
    text-align: center;
}

h1 {
    font-size: 150%;
}

h2 {
    font-size: 120%;
}

#main-header h1{
    text-align: center;
    height: 125px;
    font-size: 4rem;
}

.logo {
    float: right;
}

ul.features {
    padding: 10% 10% 10% 25%;
    font-family: serif;
}

blockquote {
    color: #F08020;
    font-style: italic;
    text-align: center;
}

a {
    color: #B8B8B8;
}

.botintro {
    line-height: 2em;
    border: 5px #303838 dashed;
    border-radius: 15px;
    padding: 25px;
    margin: 30px;
    margin-right: 60px;
    background: #F0B000;
    color: #ffffff;
}

#gui {
    padding-left : 25px   ;
}

#intro {
    background   : url(images/bot.png) no-repeat top left #F0B000;
    padding-left : 250px  ;
}

#invite {
    text-align   : center ;
}

.commands {
    text-align: none;
}


.channel {
    color: #7088D0;
    background: #384050;
    border-radius: 2px;
    font-size: 75%;
}

code.command {
    
}